<!-- index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Gestor PDF - Inicio</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body class="home">
  <div class="container container-home">
    <h1>Gestión de PDF</h1>
    <p>Seleccione:</p>
    <div class="button-group">
      <a href="/search" class="btn">Buscar</a>
      <a href="/upload" class="btn">Subir uno</a>
      <a href="/upload-multiple" class="btn">Subir múltiples</a>
    </div>
  </div>
</body>
</html>
